<h1>All the Cats</h1>
<ul>
<% @cats.each do |cat| %>
    <li><%= cat.name %></li>
    <li type = "circle"><a href="<%=  cat_url(cat.id) %>">Show Cat</a></li>
<% end %>
</ul>
<a href="<%= new_cat_url %>">Add a new cat</a>


